@import 'algolia';

html, body {
  min-height: 100vh;
}

body {
    background: linear-gradient(#2a2a29, #1c1c1c);
    color: rgb(240, 231, 213);
    font: 16px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    h1 {
        line-height: 100px;
        color: #FFCC00;
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 40px;
    }
}

main {
    border-top: 1px solid #444422;
    border-bottom: 1px solid #444422;
}

footer {
    height: 8rem;
}

a, a:hover, a:visited {
    color: #ffcc00;
    font-weight: 400;
}

tbody {
    td {
        padding: 5px;
    }
    tr:nth-child(even) {
        background-color: #353535;
    }
}

pre {
    background: #191919;
    color: #efefef;
    border: 1px solid #121212;
    border-radius: 2px;
}

.algolia-autocomplete {
    color: #333;

    .app-description {
        color: #666;
        font-size: smaller;
    }
}

.aa-suggestion {
    border-bottom: 1px solid #DDD;
}