@import 'algolia';

body {
    background: linear-gradient(#2a2a29, #1c1c1c);
    color: rgb(240, 231, 213);
    font: 16px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-container {
    width: 1170px;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

header {
    text-align: center;

    h1 {
        line-height: 100px;
        color: #FFCC00;
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 40px;
    }

    border-bottom: 1px solid #444422;
}

.content-wrap {
    padding-bottom: 9rem;
}

footer {
    position: absolute;
    bottom: 0;
    height: 8rem;
    line-height: 8rem;
    width: 100%;
    border-top: 1px solid #444422;
    text-align: center;
}

a, a:hover, a:visited {
    color: #ffcc00;
    font-weight: 400;
}

div [role=main], footer div .col-md-9 {
    margin: auto;
    float: none;
}

.search-component {
    margin: 30px auto;
}

tbody {
    td {
        padding: 5px;
    }
    tr:nth-child(even) {
        background-color: #353535;
    }
}

pre {
    background: #191919;
    color: #efefef;
    border: 1px solid #121212;
    border-radius: 2px;
}

.algolia-autocomplete {
    color: #333;

    .app-description {
        color: #666;
        font-size: smaller;
    }
}

.aa-suggestion {
    border-bottom: 1px solid #DDD;
}